<include file="public/head"/>

<head>
  <title>修改栏目</title>
  <style>
    .inputs,.button {cursor:pointer;}
    .tips {color:#6F6F6F;}
    .button.active {background-color: #0ae;}
    .spans {font-size: 30px;}
  </style>
</head>

<div class="panel admin-panel margin-top">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>修改栏目</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="" enctype="multipart/form-data">
      <div class="form-group">
        <div class="label">
          <label>上级栏目：</label>
        </div>
        <div class="field">
          <select name="xiala" class="input w50 inputs">
            <option value="0">一级栏目</option>
              <foreach name="cate" key="key" item="val" >
                <?php if($val['id']==$dat['pid']){ ?>
                  <option selected="selected" value="{$val.id}" >{$val.title}</option>
                <?php }elseif($val['id']==$dat['id']) { ?>

                <?php }else{ ?>
                  <option value="{$val.id}" >{$val.title}</option>
                <?php } ?>

                  </option>

              </foreach>
          </select>
          <div class="tips">不选择上级栏目默认为上级栏目（不能选择本身作为上级菜单）</div>
        </div>
      </div>
        <div class="form-group">
            <div class="label">
                <label>栏目标题：</label>
            </div>
            <div class="field">
                <input type="text" class="input w50" id="catname" name="title" value="{$dat.title}" />
                <div class="tips">（用于后台显示的配置标题）</div>
                <span id='catjc' style='color:red;'></span>
                <input type='hidden'  id="catnamejc" value="{:U('Backstage/jiance')}" />
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>栏目小图标：</label>
            </div>
            <div class="field">
                <select name="xialas" class="input w50 inputs" id="selects">
                    <option value="0">请选择小图标的样式</option>
                    <volist name="datas" id="v">
                            <option value="{$v.id}">{$v.icon}  （{$v.icon_title}）</option>
                    </volist>
                </select>

                <div class="tips" id="tubiao">小图标显示：<span class="{$dat.icon} spans"></span>&nbsp;&nbsp;&nbsp;(不选择默认为未修改前的小图标)</div>

            </div>
        </div>
      <div class="form-group">
        <div class="label">
          <label>所属方法：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="fangfa" value="{$dat.fangfa}" placeholder="请输入所属方法" data-validate="required:请输入所属方法" />
          <div class="tips">（U函数解析的URL或者外链）格式：index/index</div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>是否在浏览器中展示：</label>
        </div>
        <div class="field">
          <div class="button-group radio ">

              <if condition="$dat['state'] eq '是' ">
                  <label class="button active">
                      <span class="icon icon-check"></span>
                      <input name="isshow" value="是" type="radio" >是
                  </label>
                  <label class="button"><span class="icon icon-times"></span>
                      <input name="isshow" value="否"  type="radio" >否
                  </label>
                  <else />
                  <label class="button">
                      <span class="icon icon-check"></span>
                      <input name="isshow" value="是" type="radio" >是
                  </label>
                  <label class="button active"><span class="icon icon-times"></span>
                      <input name="isshow" value="否"  type="radio" >否
                  </label>
              </if>

          </div>
          <div class="tips">（不选择默认为“未修改前的值”）</div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-edit catjc" type="submit"> 修改</button>
          <button class="button bg-main icon-reply" onClick='javascript :history.back(-1);'> 返回</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="__PUBLIC__/admin/js/jq.js"></script>
<script>
    $(function(){
        $(".inputs").change(function() {
            var checkText = $("#selects").find("option:selected").text();  //获取Select选择的Text
            var a=checkText.indexOf(" ");
            var b=checkText.substring(0,a);
            //alert(b);
            $("#tubiao").html('小图标显示：'+'<span class="'+b+' spans"></span>') ;
        });
    })
</script>

</body>
</html>