<include file="public/head"/>

<head>
    <title>优势图片管理</title>
    <style>
    </style>
</head>

<form method="post" action="" id="listform">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main icon-plus-square-o" href="{:U('Advantage/advantage_imgs_add')}"> 添加图片</a> </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="6%" style="text-align:left; padding-left:20px;">ID</th>
        <th width="20%">优势图片</th>
        <th width="15%">发布时间</th>
        <th width="15%">操作</th>
      </tr>
      <!-- 循环新闻列表 -->
      <volist name="list" id="vo">
        <tr>
          <td style="text-align:left; padding-left:20px;"><input type="checkbox" name="id[]" value="{$vo.id}" />{$vo.id}</td>
          <td class="td"><img width="40%" src="__PUBLIC__/Uploads/{$vo.img}" /> </td>
          <td>{$vo.time}</td>
          <td>
              <div class="button-group">
                  <a class="button border-main" href="<?php echo U('/Admin/Advantage/advantage_imgs_save',array('id'=>$vo['id']))?>"><span class="icon-edit"></span> 修改</a>
                  <a class="button border-red" href="<?php echo U('/Admin/Advantage/del',array('id'=>$vo['id']))?>" onclick="return confirm('您确定要删除吗?')">
                   <span class="icon-trash-o"></span> 删除</a>
              </div>
          </td>
            <td colspan="5"></td>
        </tr>
      </volist>
      <!-- 循环新闻列表 结束 -->
      <tr>
        <td style="text-align:left; padding:19px 0;padding-left:20px;">
            <input type="checkbox" id="checkall" />全选
        </td>
        <td style="text-align:left;padding-left:20px;">
            <a href="javascript:void(0)" class="button border-red icon-trash-o" style="padding:5px 15px;" onclick="DelSelect()"> 批量删除</a>
        </td>
        <td colspan="3">
          <div class="pagelist">{:$Page}</div>
        </td>
        <td colspan="2">
        </td>
      </tr>
      <tr>

      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">

//全选
$("#checkall").click(function(){
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

//批量删除
function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {
		Checkbox=true;
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false;
		$("#listform").submit();
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}


</script>
</body>
</html>