<include file="public/head"/>

<head>
    <title>优势图片管理</title>
    <style>
        .tips {color:#6F6F6F;}
    </style>
</head>

<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加优势图片</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="" enctype="multipart/form-data" name="form0" id="form0">
        <div class="form-group">
            <div class="label">
                <label>图片：</label>
            </div>
            <div class="field">
                <div class="img" id="img"><img src="" /></div>
                <input type="file" onchange="hai.preview(this)" name="file" class="button bg-blue margin-left" id="image1" value="+ 浏览上传"  style="float:left;">
                <div class="tips" >图片尺寸：500*500</div>
            </div>
        </div>
      <div class="clear"></div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
            <button class="button bg-main icon-reply" onClick='javascript :history.back(-1);'> 返回</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="__PUBLIC__/admin/js/jq.js"></script>

</body></html>