<!DOCTYPE html>
<html lang="en">

<head>
    <title>关于我们</title>
    <include file="Public/head" />
</head>

<body>
<div class="wk">
    <!--        头部公共部分star-->
    <include file="Public/header" />
    <!--        头部公共部分end-->
    <!--           内页横幅star-->
    <div class="ny_banner" style="background:url('__PUBLIC__/Home/images/banner.jpg') no-repeat center center"></div>

    <!--           内页横幅end-->
    <!--        首页产品区域star-->
    <div class="pro_wk">
        <div class="pro_content">
            <div class="pro_con_l left">
                <div class="pro_con_title">
                    <h4>关于我们</h4>
                    <p>About Us</p>
                    <i></i>
                </div>
                <div class="pro_con_list">
                    <div class="news_list_1">
                        <div class="list_title">
                            <p><a href="">关于我们</a></p>
                        </div>
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pro_con_r right">
                <div class="pro_con_r_title">
                    <p class="left">关于我们</p>
                    <span class="left">About Us</span>
                    <a href="" class="right"></a>
                    <div class="clear"></div>
                </div>
                <div class="news_details">
                    <div class="contact_l left">
                        <div class="news_details">
                            <!--
                                                            <div class="details_title">
                                                                <h4>2016年我国工业发展前景：智能制造将迎来黄金期</h4>
                                                                <p>发布来源：创智科技 发布时间：2014-03-15</p>
                                                            </div>
                            -->

                            <?php echo htmlspecialchars_decode($data['content']); ?>

                            <!--<div class="details_txt">-->
                                <!--2015年12月，“2016年中国工业和信息化发展形势展望系列研究报告”发布。报告对2016年工业经济、工业结构调整、工业技术创新、工业节能减排、工业安全生产、中小企业、战略性新兴产业、高技术产业、信息化、两化融合、军民融合、原材料工业、装备工业、消费品工业、世界工业等综合领域，以及电子信息制造业、集成电路产业、新兴显示产业、光伏产业、软件产业、网络安全、互联网、无线电应用与管理、钢铁工业、汽车工业、新能源汽车、机器人产业、纺织工业等专题领域的走势进行了全面的预测和判断。 　　报告显示，2015年，在中央一系列稳增长、促改革、调结构政策措施的推动下，国民经济和工业经济运行总体平稳，呈现稳中有进、稳中向好的发展态势。展望2016年，虽然面临全球经济持续复苏缓慢，我国工业发展产能过剩严峻、投资效率偏低、出口竞争力下降、自主创新不足等问题，但我国经济新的内生增长动力将逐步形成，工业经济增速有望小幅提升，约为6.3%左右。 　　报告指出，我国未来将会通过推进改革创新、加快产业转型和消费结构升级、优化投资效率和结构、借力“一带一路”、实现区域错位发展等手段，打造“大众创业、万众创新”和增加公共产品、公共服务“双引擎”，为经济保持中高速、产业迈向中高端奠定坚实基础。-->
                                <!--业、软件产业、网络安全、互联网、无线电应用与管理、钢铁工业、汽车工业、新能源汽车、机器人产业、纺织工业等专题领域的走势进行了全面的预测和判断。 　　报告显示，2015年，在中央一系列稳增长、促改革、调结构政策措施的推动下，国民经济和工业经济运行总体平稳，呈现稳中有进、稳中向好的发展态势。展望2016年，虽然面临全球经济持续复苏缓慢，我国工业发展产能过剩严峻、投资效率偏低、出口竞争力下降、自主创新不足等问题，但我国经济新的内生增长动力将逐步形成，工业经济增速有望小幅提升，约为6.3%左右。 　　报告指出，我国未来将会通过推进改革创新、加快产业转型和消费结构升级、优化投资效率和结构、借力“一带一路”、实现区域错位发展等手段，打造“大众创业、万众创新”和增加公共产品、公共服务“双引擎”，为经济保持中高速、产业迈向中高端奠定坚实基础。-->
                                <!--业、软件产业、网络安全、互联网、无线电应用与管理、钢铁工业、汽车工业、新能源汽车、机器人产业、纺织工业等专题领域的走势进行了全面的预测和判断。 　　报告显示，2015年，在中央一系列稳增长、促改革、调结构政策措施的推动下，国民经济和工业经济运行总体平稳，呈现稳中有进、稳中向好的发展态势。展望2016年，虽然面临全球经济持续复苏缓慢，我国工业发展产能过剩严峻、投资效率偏低、出口竞争力下降、自主创新不足等问题，但我国经济新的内生增长动力将逐步形成，工业经济增速有望小幅提升，约为6.3%左右。 　　报告指出，我国未来将会通过推进改革创新、加快产业转型和消费结构升级、优化投资效率和结构、借力“一带一路”、实现区域错位发展等手段，打造“大众创业、万众创新”和增加公共产品、公共服务“双引擎”，为经济保持中高速、产业迈向中高端奠定坚实基础。-->
                                <!--<img src="__PUBLIC__/Home/images/banner.jpg" alt="">-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

        </div>
    </div>
    <!--        首页产品区域end-->
    <!--        底部公共部分star-->
    <include file="Public/foot" />
    <!--        底部公共部分end-->
</div>
<script src="__PUBLIC__/Home/js/common.js"></script>
</body>

</html>
