<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>登录</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/drag.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css">
    <script src="__PUBLIC__/admin/js/jquery.js"></script>
    <script src="__PUBLIC__/admin/js/pintuer.js"></script>
    <script src="__PUBLIC__/admin/js/jquery-1.7.2.min.js"></script>
    <script src="__PUBLIC__/admin/js/drag.js"></script>
    <script src="__PUBLIC__/admin/js/layer/layer.js"></script>
    <script src="__PUBLIC__/admin/js/layer/liyong.js"></script>
    <script src="__PUBLIC__/admin/js/layer/dialog.js"></script>
</head>
<body>
<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom">           
            </div>         
            <form  method="post" enctype="multipart/form-data" >
            <div class="panel loginbox">
                <div class="text-center margin-big padding-big-top"><h1>邮箱找回密码</h1></div>
                <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="text" class="input input-big" name="user" placeholder="请输入你的邮箱" id="user" data-validate="required:请填写绑定邮箱" />
                            <span class="icon icon-user margin-small"></span>
                        </div>
                    </div>
                   <center><div id="drag" ></div></center>
                    <script type="text/javascript">
                        $('#drag').drag();
                    </script>
                </div>
                <div style="padding:30px;"><input type="button" class="button button-block bg-main text-big input-big" onclick="liyong.login()" value="登录"></div>
                <button class="button bg-main icon-check-square-o" type="button" href="{:U('login/login')}"> 返回</button>
            </div>
            </form>          
        </div>
    </div>

</div>
</div>
</body>

</html>